/**
 * Basic styles for displaying the HTML version of the insect natural history
 * example data.
 **/

body {
    font-family: sans;
    width: 50em;
    margin: 1em auto;
}

h2.order_name {
    margin-top: 2em;
    page-break-before: always;
}

h2.order_name:first-of-type {
    page-break-before: auto;
}

div.data_example {
    page-break-inside: avoid;
    border: solid 1px #999;
    margin-bottom: 12px;
    padding: 6px 10px;
    border-radius: 6px;
}

div.data_example h3 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 110%;
}

div.data_example ul {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    margin-top: 6px;
    padding: 0;
}

div.data_example li {
    padding: 2px 0;
}

span.metalabel {
    font-weight: bold;
    font-size: 94%;
}

span.sci_name {
    font-style: italic;
}

div.ex_content {
    margin: 0;
    background-color: rgba(240,240,240,1);
    border-radius: 4px;
    padding: 4px 6px;
}

div.ex_content p {
    margin: 0.5em 0;
}

div.ex_content p:first-child {
    margin-top: 0;
}

div.ex_content p:last-child {
    margin-bottom: 0;
}

a {
    color: #00b;
}

h2.references {
    margin-top: 2em;
}

ul.references {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
}

ul.references li {
    page-break-inside: avoid;
    margin-bottom: 1em;
    padding-left: 2em;
    text-indent: -2em;
}

